*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

header {
  display: flex;
  align-items: center;
  padding: 20px 60px;
  width: 1440px;
  height: 89px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.ul{
    display: flex;
    margin: 53px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

nav a:focus {
  color: green;
}

.phone {
  padding: 8px 12px;
  background-color: black;
  color: white;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
  margin-left: 695px;
}

.phone:hover {
  background-color: white;
  color: green;
  border: 1px solid green;
}

.hero {
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero-text h1 {
  font-size: 56px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.learn-more { 
  padding: 10px 20px;
  font-weight: bold;
  background-color: #1AAB7B;
  color: white;
  border: 2px solid #1AAB7B;
  cursor: pointer;
  transition: 0.3s;
  width: 168px;
  height: 59px;
}

.learn-more:hover {
  background-color: white;
  color: #1AAB7B;
}

.hero-video iframe {
  width: 500px;
  height: 280px;
  border-radius: 10px;
}

main {
  background-color: #f6f6f6;
  padding: 50px 60px;
}

.main-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  
}

.card {
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  transition: 0.3s;
  cursor: pointer;
  flex-wrap: wrap;
  width: 384px;
  height: 358px;
  border-radius: 6px;
}

.card:hover {
  background-color: #1AAB7B;
  color: white;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 32px;
}

.card p{
    font-size: 20px;
}

.card a {
  margin-top: 10px;
  display: inline-block;
  color: inherit;
  text-decoration: underline;
}

.contact h2  {
  text-align: center;
  padding: 50px 20px;
  font-size: 36px;
}

.form-containee {
  background-image: url(./assets/img/image.png);
  background-size: cover;
  background-position: center;
  width: 1216px;
  margin: 30px auto;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

form {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  color: white;
  width: 565px;
  height: 434px;
  margin: auto;
}

.input{
  background-size: cover;
  background-color: black;
  background-color: rgba(0, 0, 0, 0);
  height: 100px;
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

input[name="name"] {
  box-shadow: 0px 10px 10px 0px rgb(#006eff);
  text-transform: uppercase;
  color: blue;
}


textarea::placeholder {
  letter-spacing: 5px;
}

button {
  background-color: #1AAB7B;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 217.14px;
  height: 59px;
}

button:hover {
  opacity: 0.9;
}

footer {
  background-color: black;
  color: white;
  padding: 30px 20px;
  text-align: center;
  width: 1440px;
  height: 220px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 96px 112px;
}

.footer-logo {
  font-weight: bold;
  font-size: 20px;
}

.socials img {
  width: 24px;
  margin: 0 8px;
}

.label{
    justify-content: end;
    align-items: end;
    font-size: 20px;
    margin: 50px 50px;
}

.hr{
    margin: -18px;
}

.input{
    height: 21px;
}

.div{
    background-color: rgb(131, 131, 131);
    height: 2px;
    margin-top: -30px;
    margin-bottom: 40px;
}


.form-box {
  background-color: rgba(0, 0, 0, 0.6);
}

.form-box label {
  color: white;

}

.form-box input,
.form-box textarea {
background: transparent;
border: none;
width: 100%;
color: white;
font-size: 16px;
outline: none;
}

.form-box button {
  width: 217px;
  background-color: #00c07e;
  color: white;
  padding: 12px 0;
  font-size: 16px;
  display: block;
  margin: 0 auto;
}

.form-box button:hover {
  background-color: #00a86b;
}

.di{
  
  margin-left: px;
}

.ss{
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;

}
